.input-focus {
  background-color: red;
  font-weight: bold;
}
.input {
  background-color: white;
  font-weight: normal;
  padding-right: 10px;
}
.input-elments{

  padding-top:20px;
  padding-right: 20px;
}
#myName {
  color: lightpink;
}

label {
      display: block;
      margin: 30px 0 0 0;
}

#formErrors {
  display: none;
  color: red;
}

input.error {
  border: 2px solid red;
}

.header {
  background-color: slateblue;
  padding: 20px;
  text-align: center;
  color: white;
}

.sections {
  background-color: lightblue;
  padding: 10px;
  text-align: left;
  color: white;
}

.input-elements {
  background-color: cornflowerblue;
  padding: 5px;
  text-align: left;
  color: white;
}

h1 {
  background-color: slateblue;
  padding: 20px;
  text-align: center;
  color: white;
}
a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: slateblue;
  border-radius: 5px;
  border-style: groove;
}

a:hover{
  background-color: lavender;
  color: black;
}

p {
  font-weight: bold;
  background-color: coral;
  font-size: 25px;
}
#submit-booking {
  padding: 10px;
  font-size: 17px;
  background-color: darkblue;
  color: white;
}
#submit-booking:hover {
  padding: 12px;
  font-size: 18px;
  background-color: lightblue;
  color: black;
}

img {
  text-align: center;
}

div#complete-name {
  background-color: lightblue;
  padding: 10px;
  font-size: 20px;
}
div#email{
  background-color: lightblue;
  padding: 10px;
  font-size: 20px;
}

div#booking-dates {
  background-color: lightblue;
  padding: 10px;
  font-size: 20px;
}

div#booking-dates {
  background-color: cornflowerblue;
  padding: 10px;
  font-size: 20px;
}

div#beds {
  background-color: royalblue;
  padding: 10px;
  color: white;
  font-size: 20px;
}
div#bathrooms {
  background-color: royalblue;
  padding: 10px;
  color: white;
  font-size: 20px;
}

div#food {
  background-color: royalblue;
  padding: 10px;
  color: white;
  font-size: 20px;
}
div#cleaning {
  background-color: royalblue;
  padding: 10px;
  color: white;
  font-size: 20px;
}

div.contact {
  background-color: mediumslateblue;
  font-size: 25px;
}
