.input-focus {
  background-color: red;
  font-weight: bold;
}
.input {
  background-color: white;
  font-weight: normal;
  padding-right: 10px;
}
.input-elments{

  padding-top:20px;
  padding-right: 20px;
}
.myName {
  color: blue;
  text-decoration: underline;
}
