.input-focus {
  background-color: red;
  font-weight: bold;
}
.input {
  background-color: white;
  font-weight: normal;
  padding-right: 10px;
}
.input-elments{

  padding-top:20px;
  padding-right: 20px;
}
#myName {
  color: lightpink;
}

label {
      display: block;
      margin: 30px 0 0 0;
}

#formErrors {
  display: none;
  color: red;
}

input.error {
  border: 2px solid red;
}

.header {
  background-color: slateblue;
  padding: 20px;
  text-align: center;
  color: white;
}

.sections {
  background-color: lightblue;
  padding: 10px;
  text-align: left;
  color: white;
}

.input-elements {
  background-color: cornflowerblue;
  padding: 10px;
  text-align: left;
  color: white;
}
